# Copyright Xavier Beheydt. All rights reserved.

# Informations
# https://docs.docker.com/compose/compose-file/

name: dolibarr

networks:
    frontend:
    backend:


volumes:
    db-data:


services:
    db:
        image: mariadb:latest
        container_name: dolibarr-db
        env_file:
            - mariadb.env
        volumes:
            - db-data:/var/lib/mysql
        networks:
            - backend

    web:
        depends_on:
            - db
        image: tuxgasy/dolibarr:${DOLI_TAG}
        container_name: dolibarr-web
        env_file:
            - dolibarr.env
        ports:
            - "${DOLI_PORT}:80"
        links:
            - db
        volumes:
            - "${DOLI_DATA_DOCUMENTS}:/var/www/documents"
            - "${DOLI_DATA_CUSTOM}:/var/www/html/custom"
        networks:
            - frontend
            - backend
